<p>
  Hi farmer <%= @user.short_name %>! It is <%= Time.now %>
</p>

<p>
  You owe <b><%= number_to_currency @payment.amount %></b> for the period from <%= @billing_period.start_time.to_date.inspect %> to <%= @billing_period.end_time.to_date.inspect %>.
</p>

<p>
  Breakdown:
  <table>
    <!-- category (general, food, ...) -->
    <% @payment.details.each do |category| %>
      <!-- summary row for category -->
      <tr>
        <th><%= number_to_currency category[:amount] %></th>
        <th><%= category[:category] %></th>
      </tr>
      <% category[:details].each do |expense| %>
        <!-- broken-out expense -->
        <tr>
          <td><%= number_to_currency expense[:amount] %></td>
          <td><%= expense[:note] %></td>
          <td><%= expense[:time].to_date.inspect if expense[:time] %></td>
        </tr>
      <% end %>
      <tr></tr>
    <% end %>
  </table>
</p>

<p>
  <3, </br>
  Skybot
</p>