<p>
  Hi farmer <%= @user.short_name %>!
</p>

<p>
  You owe <%= number_to_currency @payment.amount %> for the period from <%= @billing_period.start_time.to_date.inspect %> to <%= @billing_period.end_time.to_date.inspect %>.<br/>
</p>
  
<p>
  Please pay it by this coming Friday!
  <ul>
    <li><b><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_send-money&nav=1">PayPal <%= number_to_currency @payment.amount %> to rmatei@gmail.com</a></b> (saves time; select 'personal' > 'living expense' to avoid fees)</li>
    <li>Cash or check to Rob</li>
  </ul>
</p>

<p>
  <3, </br>
  Comrade Skybot
</p>

</br>
<hr/>
Breakdown:
<ul>
  <!-- category (general, food, ...) -->
  <% @payment.details.each do |category| %>
    <!-- summary row for category -->
    <li>
      <%= number_to_currency category[:amount] %> -
      <%= category[:category] %>
    </li>
    <small>
      <ul>
        <% category[:details].each do |expense| %>
          <!-- broken-out expense -->
          <li>
            <%= number_to_currency expense[:amount] %>
            <%= expense[:note] %>
          </li>
        <% end %>
      </ul>
    </small>
  <% end %>
</ul>

