<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>

<!DOCTYPE html>
<html>
<head>
  <title>Skyfarm</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <!DOCTYPE html>
  <html>
    <head>
      <title>Skyfarm</title>
      <style type="text/css" media="screen">
        body {
          margin: 25px;
          margin-top: 10px;
          padding: 0;
/*          background-color: #f0f0f0;*/
          font-family: "Arial";
          font-size: 13px;
          color: #333;
        }
      </style>

    </head>
    <body>
      <center>
        <br>
        <img src='antenna.jpg' style="width:250px"></img>
        <h2>skyfarm is in the cloud</h2>
        <a href='http://www.skyfarmsf.com/users'>people</a> | 
        <a href='http://www.skyfarmsf.com/expenses'>expenses</a> |
        <a href='http://www.skyfarmsf.com/payments'>payments</a> |
        <a href='http://www.skyfarmsf.com/billing_periods'>billing periods</a> |
        <a href='http://www.skyfarmsf.com/tallied_consumptions'>booze drank</a>
      </center>

<%= yield %>

<center>
  code is open-source on <a href='http://github.com/rmatei/skyfarm'>github</a>
</center>
</body>
</html>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21997308-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>