<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>

<!DOCTYPE html>
<html>
<head>
  <title>Skyfarm</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
